@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<p>Eric Perez</p>
<br />
<p>LinkedIn: https://www.linkedin.com/in/erictperez/  </p>
<br />
<p>GitHub: https://github.com/erictperez</p>
<br />
<h2> For More Information,
    Connect with me on LinkedIn!
    Thank you for your viewing!</h2>