@{
}
<h1>Welcome To Your Dashboard</h1>
<a href="VotingSection">
    <img src="https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm282-ning-60a-x.jpg?bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&q=65&usm=15&vib=3&w=600&s=05ce5a0e1c1ec09e3d43e03dbca65644" alt="Vote Here!" class="center" />
</a>

<h1>Alternative Ways of Voting</h1>
<br />
<div>Vote In Person</div>
<br />
<div>Vote By Mail</div>
<br />

<br />
<h1>Information to Consider</h1>
<iframe src="https://reminders.vote.org/?partner=111111&campaign=free-tools" width="1000" marginheight="0" frameborder="0" id="frame4" scrollable="no"></iframe>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.3/iframeResizer.min.js"></script>
<script type="text/javascript">iFrameResize({ log: true, checkOrigin: false });</script>
<br />
<iframe src="https://verify.vote.org/?partner=111111&campaign=free-tools" width="1000" marginheight="0" frameborder="0" id="frame3" scrollable="no"></iframe>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.3/iframeResizer.min.js"></script>
<script type="text/javascript">iFrameResize({ log: true, checkOrigin: false });</script>
<br />
<iframe src="https://pledge.vote.org/?partner=111111&campaign=free-tools" width="1000" marginheight="0" frameborder="0" id="frame5" scrollable="no"></iframe>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.3/iframeResizer.min.js"></script>
<script type="text/javascript">iFrameResize({ log: true, checkOrigin: false });</script>

<h1>Haven't Registered to Vote?</h1>
<h1>Register Below through Our Sponsor</h1>
<script type="text/javascript" src="https://register.rockthevote.com/assets/rtv-iframe.js"></script>
<script type="text/javascript">RtvIframe.init({ partner: 1, source: "ovrpage" })</script>
<br />
<iframe src="https://register.vote.org/?partner=111111&campaign=free-tools" width="1000" marginheight="0" frameborder="0" id="frame1" scrollable="no"></iframe>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.3/iframeResizer.min.js"></script>
<script type="text/javascript">iFrameResize({ log: true, checkOrigin: false });</script>